th.th_gh122 {
    text-align: left;
}

.cart_pr_price222 {
    width: 110px;
}

.td_gh3_tess23 {
    width: 500px;
}

.bnt_cn_cart22 {
    width: 190px;
}

.cr_table228 {
    border-collapse: collapse;
    margin-bottom: 20px;
}

.th_gh122 {
    padding: 8px 10px;
}

/* 
.huydh input {
    padding: 3px 10px;
} */

.th_gh1223 {
    padding: 8px 10px;
}

.tbody td {
    padding: 10px 10px;
}

.cart_pr_items_content22 a {
    text-decoration: none;
    color: #212529;
    font-size: 14px;

}

.cart_pr_items_title2222 {
    padding-bottom: 10px;
}

.cart_pr_items_content22 a:hover {
    text-decoration: none;
    color: orangered;
}

.user_tt {
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;

}

.huydh input {
    padding: 10px;

}